/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.site-title {
    font-size: 2rem;
  }
  
  #regPhoto {
    position:relative;
    width: 38vw;
    height: 58vh;
    object-fit: cover;
  }
  
  /*
  .nav li.active {
    background-color: #555;
  }
  
  .nav li:hover {
    background-color: #777;
  }
  
  */
  
  h1 {
    position: relative;
    font-size: 4vw;
    padding: 10px 0px;
    margin: 0px;
  }
  
  
  
  .dropdown-toggle::after {
    display:none;
  }
  
  a, u {
    text-decoration: none;
  }